<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script type="text/javascript">
        var baseUrl = "@Url.Content("~")";
    </script>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/Datatables/css/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="Mail viewer" />
    <link rel="icon" href="@Url.Content("~/favicon.ico")" type="image/x-icon" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Mail Viewer", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
				<div class="navbar-brand signalr-reconnecting-icon-container">
					<div class="signalr-reconnecting-icon"></div>
				</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { id = "" }, null)</li>
                </ul>
                @foreach (var dir in PickupMailViewer.Helpers.DirectoryHelper.ListDirectories())
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("/ " + dir, "Index", "Home", new { id = dir }, null)</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2014-2015 - <a href="https://github.com/albinsunnanbo">Albin Sunnanbo</a> and <a href="https://github.com/albinsunnanbo/PickupMailViewer/network/members">contributors</a></p>
            <p><a href="https://github.com/albinsunnanbo/PickupMailViewer">https://github.com/albinsunnanbo/PickupMailViewer</a></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-ui")
    @Scripts.Render("~/bundles/app")
    @RenderSection("scripts", required: false)
</body>
</html>
