@model PickupMailViewer.Models.MailModel

<div>
    <a href="@Url.Action("DownloadMail", new { mailId = @Model.MessageId })"><span class="glyphicon glyphicon-download" /> Download mail</a>
    <hr />
    <div>From: @Model.FromAddress</div>
    <div>To: @Model.ToAddress</div>
    <div>Sent date: @Html.DisplayFor(m => m.SentOn)</div>
    <div>Subject: @Model.Subject</div>
    @for (int idx = 0; idx < Model.AttachmentNames.Length; idx++)
    {
        <div>
            Attachment: <a href="@Url.Action("DownloadMailAttachment", new { mailId = @Model.MessageId, idx = idx, })"><span class="glyphicon glyphicon-paperclip" /> @Model.AttachmentNames[idx]</a>
        </div>
    }
    <hr />
    <div class="mail-body">
        @if (Model.BodyIsHTML)
        {
            @Html.Raw(Model.Body)
        }
        else
        {
            <pre>@Model.Body</pre>
        }
    </div>
</div>
