@model PickupMailViewer.Models.MailModel

<div>
    <a href="@Url.Action("DownloadMail", new { mailId = @Model.MessageId })"><span class="glyphicon glyphicon-download" /> Download mail</a>
    <hr />
    <div>From: @Model.FromAddress</div>
    <div>To: @Model.ToAddress</div>
    <div>Sent date: @Html.DisplayFor(m => m.SentOn)</div>
    <div>Subject: @Model.Subject</div>
    @for (int idx = 0; idx < Model.AttachmentNames.Length; idx++)
    {
        <div>
            Attachment: <a href="@Url.Action("DownloadMailAttachment", new { mailId = @Model.MessageId, idx = idx, })"><span class="glyphicon glyphicon-download-alt" /> @Model.AttachmentNames[idx]</a>
            @if (Model.GetAttachmentMediaTypeFromIdx(idx).Contains("text/plain")|| Model.GetAttachmentMediaTypeFromIdx(idx).Contains("text/html"))
            {
                <text>
                    / <a href="@Url.Action("PreviewMailAttachment", new { mailId = @Model.MessageId, idx = idx, })" target="_blank"><span class="glyphicon glyphicon-eye-open" /> Preview</a> /
                </text>
            }
            (@Model.AttachmentSizes[idx])
        </div>
    }
    <hr />
    <div class="mail-body">
        @if (Model.BodyIsHTML)
        {
            @Html.Raw(Model.Body)
        }
        else
        {
            <pre>@Model.Body</pre>
        }
    </div>
</div>
